{
    "root": true,
    //ESLint will stop looking in parent folders once it finds a configuration with "root": true.
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true,
        "phantomjs": true
    },
    "rules": {
//        "key-spacing" :["error", { "beforeColon": true }],
        "indent": [1 , 4],
        "operator-linebreak": [2, "after", {"overrides": {"?": "after", ":": "after"}}],
        "no-unused-vars": "off",
        "no-console": 0,
        "no-multi-str": 1,
        "no-useless-escape": [0],
        "no-trailing-spaces": 1,
        "no-constant-condition": ["error", { "checkLoops": false }],
        "semi":2,
        "comma-style": ["error", "last"],
        "comma-spacing" : "error",
        "comma-dangle": 2
    },
    "globals": {

    }
}
